/* ------- GENERAL STRUCTURE ------- */

body{
    /*background-color: purple;*/
    background-color: #fff;
    color: #000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* ------- HEADER ------- */

header{
    border: 0px solid black;
}

div#cabecalho{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
}

h1{
    color: #000;
} 

input#entrar{
    cursor: pointer;
    background-color: #fff;
    margin-top: 22px;
    padding: 10px 15px;
    border-radius: 10px;
    color: #000;
    font-weight: bold;
    border: 1px solid silver;
}

/* ------- MAIN ------- */

div.bloco_acesso_user{
    display: block;
    width: 250px;
    text-align: center;
    margin: 5% auto 0 auto;
    border: 1px solid #000;
    border-radius: 15px;
}

div.formulario{
    margin-top: 20px;
}

input#user, input#password_user{
    border-style: inherit;
    border-bottom: 1px solid #000;
    color: #000;
}

a#logar{
    color: #000;
    text-decoration: none;
    font-size: 15px;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 5px 10px;
}

a#logar:hover{
    color: #fff;
    background-color: #000;
}

h6 a{
    text-decoration: none;
    color: #000;
    font-size: 0.7em;
}

h6 a:hover{
    text-decoration: underline;
    color: #000;
}

/* ------- FOOTER ------- */
p#footer{
    font-size: xx-small;
    text-align: center;
    margin-top: 10%;
}
